name: Build JetNews Sample
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Make Gradle Executable
        # This command finds the gradlew file wherever it is and makes it executable
        run: find . -name "gradlew" -exec chmod +x {} +

      - name: Build JetNews APK
        # We run it from the root using the JetNews project path
        run: ./gradlew :JetNews:assembleDebug

      - name: Upload JetNews APK
        uses: actions/upload-artifact@v4
        with:
          name: JetNews-APK
          # This wildcard path ensures it finds the APK even if folders change
          path: "**/build/outputs/apk/debug/*.apk"
